<div class="container-fluid">
  <div class="row">
    <div class="col">
      <img id="banner-img" src="../../assets/banner-img.jpg" alt="Programming banner">
    </div>
  </div>

  <div id="about-me" class="row">
    <div class="col-md-4">
      <div class="card profile-card shadow rounded">
        <div class="background-block">
          <img src="../../assets/programming-profile-background.jpg" alt="profile-back-image" class="background"/>
        </div>
        <div class="profile-thumb-block">
          <img src="../../assets/profile-pic-2.jpg" alt="profile-pic" class="profile"/>
        </div>
        <div class="card-content">
          <h2>Andrés M Mastracchio<small>Java Developer</small></h2>
        </div>
      </div>
    </div>

    <div class="col-md-8 mt-5">
      <blockquote class="blockquote blockquote-custom bg-white p-5 shadow rounded">
        <div class="blockquote-custom-icon bg-secondary">ABOUT ME</div>
        <p class="mb-0 mt-2">Lorem ipsum dolor sit amet, consectetur adipiscing elit,
          sed do eiusmod  tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
          quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo.</p>
      </blockquote>
    </div>
  </div>
</div>
