<div class="container-fluid mt-5">
  <blockquote class="blockquote blockquote-custom bg-white p-5 shadow rounded">
    <div class="blockquote-custom-icon bg-secondary">PROFFESSIONAL EXPERIENCE</div>

    <div class="container-fluid">
      <div class="row">
        <h3>Job Title</h3>
        <div class="col-md-4 mt-2">
          <div class="form-group">
            <input id="dp1" type="text" class="form-control clickable input-md" id="DtChkIn" placeholder="&#xf133;  From">
          </div>
          <div class="form-group">
            <input id="dp2" type="text" class="form-control clickable input-md" id="DtChkOut" placeholder="&#xf133;  To">
          </div>
        </div>

        <div class="col-md-8 mt-2">
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit,
            sed do eiusmod  tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo.
          </p>
        </div>

      </div>
    </div>
  </blockquote>
</div>
