<div class="container-fluid">
  <blockquote class="blockquote blockquote-custom bg-white p-5 shadow rounded">
    <div class="blockquote-custom-icon bg-secondary">SKILLS</div>

    <div class="container-fluid">
      <div class="row">
        <div class="col-md-6">
          <div class="progress-bar-component">
            <div class="col-md-3">Skill label</div>
            <div class="progress col-md-9">
              <div class="progress-bar progress-bar-striped progress-bar-animated"
              role="progressbar" aria-valuenow="75"
              aria-valuemin="0" aria-valuemax="100" style="width: 75%"></div>
            </div>
          </div>

          <div class="">
            <h4>Hard Skills</h4>
          </div>

        </div>

        <div class="col-md-6">
          <div class="progress-bar-component">
            <div class="col-md-3">Skill label</div>
            <div class="progress col-md-9">
              <div class="progress-bar progress-bar-striped progress-bar-animated"
              role="progressbar" aria-valuenow="50"
              aria-valuemin="0" aria-valuemax="100" style="width: 50%"></div>
            </div>
          </div>

          <div class="">
            <h4>Soft Skills</h4>
          </div>
        </div>
      </div>
    </div>
  </blockquote>
</div>
